[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
psycopg2 = "*"
uvicorn = "*"
python-dotenv = "*"
spotipy = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
